.table3{
	text-align:left;
	width:428px;
	font-size:14px;
	border-collapse:collapse;
}
.table3 td{
	border:1px solid #99bcb4;
	padding:5px;
	padding-left:10px
}
.co{
	color: #FFFFFF;
	padding-right:3px;
	padding-left:3px;

}
.color1{
	background-color:#04F911;

}
.color2{
	background-color:#00BBFF;
}
.color3{
	background-color:#666666;
}
.td3{
	width:45px;
}
